body {
  background-color: #335c81;
  color: white;
  font-weight: 700;
  text-align: center;
}

h1, h2 {
  margin-block: 20px;
}

li {
  list-style: none;
}

.main-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-inline: 25px;
}

.filtros {
  background-color: #02c39a;
  border-radius: 10px;
  padding: 20px;
  width: 760px;
}

.checkbox {
  margin-left: 6px;
  width: 20px;
}

.checkbox-label {
  width: 180px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.deck-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  background-color: #f0f3bd;
  border-radius: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  width: 200px;
}

label {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block: 5px;
  width: 290px;
}

select {
  background-color: #f0f3bd;
  border-radius: 10px;
  color: #05668d;
  font-weight: 700;
  margin-left: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  width: 200px;
}

textarea {
  background-color: #f0f3bd;
  border-radius: 10px;
  margin-left: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  width: 200px;
}

.wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fill-form {
  align-items: center;
  display: flex;
}

.deck {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.cardTrunfo {
  width: 50px;
}

.cardTrunfoDiv {
  display: flex;
  justify-content: center;
}


.cardTrunfoDiv2 {
  background-color: #f0f3bd;
  border-radius: 6px;
  color: black;
  display: flex;
  font-size: 12px;
  justify-content: center;
  margin-block: 5px 15px;
  padding: 3px 6px;
}


button {
  background-color: #02c39a;
  border: #f0f3bd solid 3px;
  border-radius: 10px;
  color: #f0f3bd;
  font-weight: 700;
  margin-left: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  width: 100px;
}

.delete-btn {
  background-color: #af1b3b;
  border: #f0f3bd solid 3px;
  border-radius: 10px;
  color: #f0f3bd;
  font-weight: 700;
  margin-bottom: 10px;
  padding-block: 5px;
  padding-inline: 15px;
  width: 100px;
}

button:disabled {
  opacity: 50%;
}
